@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body,
input,
button {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


button {
    padding: 5px 10px;
    margin: 0;
    border: none;
    background: none;
    background-color: #F6F6F6;
    border-radius: 10px;
    border: 2px solid #9F87F5;
    color: #9F87F5;
    transition: all 0.3s ease-in;
}

button:active,
button:focus,
button:hover {
    color: #F6F6F6;
    background-color: #9F87F5;

}